@font-face {
    font-family: "FinkHeavy";
    src: url("../fonts/FinkHeavy.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
}
body {
    /* background-image: url(https://i.redd.it/y5mzeig307b41.png); */
    background-image: url(https://images5.alphacoders.com/956/956578.jpg);
    background-size: cover;
}

h1 {
   text-align: center;
   font-family: "FinkHeavy";
   margin: 0;
   padding: 350px 0 0;
   color:	#c48d3f;
   font-size: 90px; 
}

.forms {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    flex-direction: column;
    /* color:  */
}

input#button {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

select {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 3px;
}

#muteBtn {
    position: fixed;
    top: 10px;
    left: 10px;
}

.select {
    display: flex;
    justify-content: space-between;
    width: 45%;
    max-width: 300px;
}

#button {
   margin: 40px;
   padding: 3px;
}
